#center {
  text-align: center;
  margin-top:10%;
}
footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:110px;
  text-align: center;

}
hr{
  border-color:#bcbcbc;
}
body{
  background-color: #EEEEEE;
  font-family: monospace;
  margin: 40px;
}
#jonImage{
  margin-top: 10%;
  height:200px;
  margin-bottom: 10px;
  border-style: double;
  border-width:3px;
}
#reupic{
  float:right;
  margin-left:20px;
}
.description{
  margin-left: 10px;
  margin-bottom: 20px;
  /* display: none; */

}
.titles{
  margin-left: 3%;
}
.titles:hover{
  background-color: #bcbcbc;
}
#list{
  margin-top: 3%;

}

#links {
  margin-top: 3%;
}

#intro{
  /* font-size: 0.9em; */
}
#left,#right{
  margin-top: 8%;
}
#right{
  text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#reu{
  width:90%;
  margin-left: 5%;
  /* margin-right:  10%; */
}

p {
	margin-bottom:25px;
}
